/* bienvenidos */

.contenedor1 {

    text-align: center;
    margin: 10%;
    
    

}

.contenedor1 h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    /* font-style: italic;
    font-weight: bolder; */
}

.contenedor1 p {
    font-family: "Roboto";
    font-style: italic;
    
}

/* Items-Inicio */
.contenedor2 {
    text-align: center;
    padding: 8%;
    background-image: url('https://i.pinimg.com/736x/74/49/8b/74498b2ce3e0523515d278996b9a8e4f.jpg');
    /* reemplazá con la ruta real */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.item_inicio img {
    border-radius: 10px;

}

.item_inicio h5 {
    font-family: "Roboto";
    color: black;
    
}

.item_inicio p {
    font-family: "Roboto";
    font-style: italic;
    color: #050505;
    padding-top: 13px;
    
}

/* para computadora */
@media (min-width: 800px) {
    .contenedor2 {
        display: flex;
        justify-content: space-between;
        padding: 10%;
        gap: 10px;
        background-image: url('https://i.pinimg.com/736x/74/49/8b/74498b2ce3e0523515d278996b9a8e4f.jpg');
        /* reemplazá con la ruta real */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    .item_inicio {
        width: 28%;
        border: 2px solid #272525;
        border-radius: 5px;
        text-align: center;
        padding: 13px;
        box-sizing: border-box;
        box-shadow: 0px 3px 10px 1px #413f3f;
    }

    .item_inicio img {
        border-radius: 3px;

    }

    .item_inicio h5 {
        font-family: "Roboto";
        color: black;
    }

    .item_inicio p {
        font-family: "Roboto";
        font-style: italic;
        color: #0e0d0d;
        padding-top: 13px;
    }

    .contenedor1 {

        text-align: center;
        background-color:#f7f4f1;
        padding-bottom: 3%;
        padding-top: 3%;
        margin: 0%;
     
    }
/* Paragraph */
main .contenedor1 p{
 border-width:0px;
 padding-left:0px;
 margin-left:200px;
 margin-right:200px;
}


}