body {

    background-image: url('https://i.pinimg.com/1200x/f4/7e/bb/f47ebb3517a619fcef4e0e4e2d997827.jpg');
    background-repeat: repeat;
    background-color: #eae7e2;
    color: #3e3e3e;
}

.contenedor_promociones {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-family: 'Gill Sans', 'Segoe UI', sans-serif;
  background-color: #eae7e2;
}
.contenedor_promociones h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #334421;
  font-family: 'Bungee', sans-serif;
}
.contenedor_promociones h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #334421;
  font-family: 'Bungee', sans-serif;
}

.promociones_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.novedades_item {
  background-color: #faf1e4;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.novedades_item:hover {
  transform: translateY(-4px);
}

.novedades_item h1 {
  font-size: 1.5em;
  color: #334421;
  font-family: 'Bungee', sans-serif;
  margin-bottom: 10px;
}

.novedades_item h2 {
  font-size: 1em;
  color: #7f8c8d;
  margin-bottom: 15px;
}

.novedades_item img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.novedades_item div {
  font-size: 1rem;
  line-height: 1.6;
  color: #3e3e3e;
}

.novedades_item hr {
  border: none;
  border-top: 1px solid #ccc;
}

/* Responsive */
@media (max-width: 768px) {
  .promociones_grid {
    grid-template-columns: 1fr;
  }
}
